body {
    background-color: rgb(249, 246, 234);
}

/* From: https://stackoverflow.com/a/14696457 */
* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}